@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    overflow-x: hidden;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 3px 6px;
}